version: '3.3'

services: 
    full_stack_app:
      build: .
      volumes:
#       - "/opt/test/docker_test:/app"
#       - "./routes/api:/app" 
#        - "./config/:/opt/test/MERN-AUTH-ANSIBLE/config/"   
        - "/var/lib/jenkins/workspace/mern_docker:/var/lib/jenkins/workspace/mern_docker"
      ports:
        - "5555:5000"
        - "3333:3000"
      expose:
        - "5000"
        - "3000"
#    working_dir: /opt/test/docker_test

#    client: 
#      build: . 
#      volumes: 
#        - "./client:/app"
#      ports: 
#        - "3333:3000"
#      expose:
#        - "3000"
##      working_dir:
#      depends_on:
#        - api

